<?xml version="1.0" encoding="utf-8"?>
<menu xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.2/engine/Shopware/Components/Plugin/schema/menu.xsd">
    <entries>
        <entry>
            <name>BlaubandMailbox</name>
            <label lang="de">EKS Verbindungen</label>
            <label lang="en">EKS Connections</label>
            <controller>BlaubandInbox</controller>
            <action>index</action>
            <class>\" style=\"background: url('/custom/plugins/BlaubandEmail/plugin.png') no-repeat scroll 0 0 transparent !important;</class>
            <parent identifiedBy="controller">ConfigurationMenu</parent>
            <onclick>Shopware.ModuleManager.createSimplifiedModule("BlaubandInbox", { "title": "EKS-Mailbox"})</onclick>
        </entry>

        <entry>
            <name>BlaubandOverview</name>
            <label lang="de">EKS Email Übersicht</label>
            <label lang="en">EKS Mail Overview</label>
            <controller>BlaubandOverview</controller>
            <action>index</action>
            <class>\" style=\"background: url('/custom/plugins/BlaubandEmail/plugin.png') no-repeat scroll 0 0 transparent !important;</class>
            <parent identifiedBy="controller">Customer</parent>
            <onclick>Shopware.ModuleManager.createSimplifiedModule("BlaubandOverview", { "title": "EKS Email Übersicht"})</onclick>
        </entry>
    </entries>
</menu>
