.center {
    text-align: center;
}

#blauband-mail-inbox .mail-list {
    margin-top: 40px;
}

#blauband-mail-inbox #delete-button {
    margin: 0;
}

.select2--order,
.select2--customer {
    display: none;
}

.select2 {
    width: 90% !important;
    margin-bottom: 20px !important;
}

.select2-container--default,
.select2-selection--single {
    border-color: #E1E1E1 !important;
}

.delete-relationship,
.save-relationship {
    background: white !important;
    margin-top: -1px;
}

.save-relationship {
    width: 8% !important;
    float: right;
}

.delete-relationship {
    width: 20px !important;
    height: 20px !important;
    padding: 0;
    margin-left: 5px;
}


/* EKS original overwrite*/
.mail-select .title-subject{
    width: 80%;
    display: inline;
    float: left;
    margin-top: 0;
}

.mail-select .ui-icon {
    float: right;
}

.mail-select .state-icon {
    margin-left: 5px;
}

label.checkbox {
    font-weight: 200;
    display: inline;
}

.checkbox-wrapper{
    margin-top: 5px;
}

.checkbox-wrapper label{
    margin-right: 20px;
    margin-left: 2px;
}